<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8"/>
	<link rel="stylesheet" type="text/css" href="/css/dashstyle.css"/>
	<script type='text/javascript' src='/javascript/jquery.js'></script>
	<script type='text/javascript' src='/javascript/animate.js'></script>
		<title>
			<%= user.name %>
		</title>
</head>
<body>
	<div id="parent">
		<div id="header">
			<a href="/logout"><div id="logout" class="button">Logout</div></a>
			<%= user.name %>'s Dashboard
			<a href="/createnote"><div id="newdoc" class="button">Create New Document</div></a>
		</div>
		<div id="menu">
			<% for(var i=0; i<user.files.length; i++) {%>
				<form action="/dashboard" method="post">
	   				<input type="text" class="secret" name="note" value="<%= user.files[i] %>"></input>
	   				<button type="submit" class="menuItem"><%= user.files[i] %></button>
   				</form>
   				<form action="/delete" method="post">
   					<input type="text" class="secret" name="note" value="<%= user.files[i] %>"></input>
   					<button type="submit" class="menuItem">Delete?</button>
   				</form>
			<% } %>
		</div>
	</div>
</body>
</html>